.char1 {background-image: url(../img/characters/char-1.png);}
.char2 {background-image: url(../img/characters/char-2.png);}
.char3 {background-image: url(../img/characters/char-3.png);}
.char4 {background-image: url(../img/characters/char-4.png);}
.char5 {background-image: url(../img/characters/char-5.png);}
.char6 {background-image: url(../img/characters/char-6.png);}
.char7 {background-image: url(../img/characters/char-7.png);}
.char8 {background-image: url(../img/characters/char-8.png);}
.char9 {background-image: url(../img/characters/char-9.png);}
.char10 {background-image: url(../img/characters/char-10.png);}
.char11 {background-image: url(../img/characters/char-11.png);}
.char12 {background-image: url(../img/characters/char-12.png);}
.char13 {background-image: url(../img/characters/char-13.png);}
.char14 {background-image: url(../img/characters/char-14.png);}
.char15 {background-image: url(../img/characters/char-15.png);}
.char16 {background-image: url(../img/characters/char-16.png);}
.char17 {background-image: url(../img/characters/char-17.png);}
.char18 {background-image: url(../img/characters/char-18.png);}
.char19 {background-image: url(../img/characters/char-19.png);}
.char20 {background-image: url(../img/characters/char-20.png);}
.char21 {background-image: url(../img/characters/char-21.png);}
.char22 {background-image: url(../img/characters/char-22.png);}
.char23 {background-image: url(../img/characters/char-23.png);}
.char101 {background-image: url(../img/characters/char-101.png);}
.char102 {background-image: url(../img/characters/char-102.png);}
.char103 {background-image: url(../img/characters/char-103.png);}
.char104 {background-image: url(../img/characters/char-104.png);}
.char105 {background-image: url(../img/characters/char-105.png);}
.char106 {background-image: url(../img/characters/char-106.png);}
.char107 {background-image: url(../img/characters/char-107.png);}
.char108 {background-image: url(../img/characters/char-108.png);}
.char109 {background-image: url(../img/characters/char-109.png);}
.char110 {background-image: url(../img/characters/char-110.png);}
.char111 {background-image: url(../img/characters/char-111.png);}
.char112 {background-image: url(../img/characters/char-112.png);}
.char113 {background-image: url(../img/characters/char-113.png);}
.char114 {background-image: url(../img/characters/char-114.png);}
.char115 {background-image: url(../img/characters/char-115.png);}
.char116 {background-image: url(../img/characters/char-116.png);}
.char117 {background-image: url(../img/characters/char-117.png);}
.char118 {background-image: url(../img/characters/char-118.png);}
.char119 {background-image: url(../img/characters/char-119.png);}
.char120 {background-image: url(../img/characters/char-120.png);}
.char121 {background-image: url(../img/characters/char-121.png);}
.char122 {background-image: url(../img/characters/char-122.png);}
.char123 {background-image: url(../img/characters/char-123.png);}
.char124 {background-image: url(../img/characters/char-124.png);}
.char125 {background-image: url(../img/characters/char-125.png);}