@import "reset.css";

#app {
    height: 496px;
    width: 954px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;

    /* background-image: url(/img/background.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.border {
    border: 1px ridge #ff0000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.column-l {
    flex: 0 0 318px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.column-c {
    width: 318px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    -webkit-align-content: flex-start; 
    align-content: flex-start; 

    overflow: auto;
}

.setup {
/*     flex: auto; */
    height: 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 2px 0 2px 0;
}
.setup-c {
    /*     flex: auto; */
        height: 90px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        margin: 2px 0 2px 0;
}

.color, .role, .motiv {
    width: 60px;
}
.key {
    -webkit-flex-grow: 0; 
    flex-grow: 0;
}
.value {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 1; 
    flex-grow: 1;
}
.best {
    width: 50px;
    height: 60px;
    margin: auto 5px;
}

.char {
    height: 60px;
    width: 50px;
    margin: 6px;
}
.achivments {
    height: 30px;
    width: 300px;
    margin: 5px auto;
}
