.rank-c-01 {background-image: url('../img/ranks/C01.png')!important;}
.rank-c-02 {background-image: url('../img/ranks/C02.png')!important;}
.rank-c-03 {background-image: url('../img/ranks/C03.png')!important;}
.rank-c-04 {background-image: url('../img/ranks/C04.png')!important;}
.rank-c-05 {background-image: url('../img/ranks/C05.png')!important;}
.rank-c-06 {background-image: url('../img/ranks/C06.png')!important;}
.rank-c-07 {background-image: url('../img/ranks/C07.png')!important;}
.rank-c-08 {background-image: url('../img/ranks/C08.png')!important;}
.rank-c-09 {background-image: url('../img/ranks/C09.png')!important;}
.rank-c-10 {background-image: url('../img/ranks/C10.png')!important;}
.rank-c-11 {background-image: url('../img/ranks/C11.png')!important;}
.rank-c-12 {background-image: url('../img/ranks/C12.png')!important;}
.rank-c-13 {background-image: url('../img/ranks/C13.png')!important;}
.rank-c-14 {background-image: url('../img/ranks/C14.png')!important;}
.rank-c-15 {background-image: url('../img/ranks/C15.png')!important;}
.rank-c-16 {background-image: url('../img/ranks/C16.png')!important;}
.rank-c-17 {background-image: url('../img/ranks/C17.png')!important;}
.rank-c-18 {background-image: url('../img/ranks/C18.png')!important;}
.rank-c-19 {background-image: url('../img/ranks/C19.png')!important;}
.rank-c-20 {background-image: url('../img/ranks/C20.png')!important;}
.rank-k-01 {background-image: url('../img/ranks/K01.png')!important;}
.rank-k-02 {background-image: url('../img/ranks/K02.png')!important;}
.rank-k-03 {background-image: url('../img/ranks/K03.png')!important;}
.rank-k-04 {background-image: url('../img/ranks/K04.png')!important;}
.rank-k-05 {background-image: url('../img/ranks/K05.png')!important;}
.rank-k-06 {background-image: url('../img/ranks/K06.png')!important;}
.rank-k-07 {background-image: url('../img/ranks/K07.png')!important;}
.rank-k-08 {background-image: url('../img/ranks/K08.png')!important;}
.rank-k-09 {background-image: url('../img/ranks/K09.png')!important;}
.rank-k-10 {background-image: url('../img/ranks/K10.png')!important;}
.rank-k-11 {background-image: url('../img/ranks/K11.png')!important;}
.rank-k-12 {background-image: url('../img/ranks/K12.png')!important;}
.rank-k-13 {background-image: url('../img/ranks/K13.png')!important;}
.rank-k-14 {background-image: url('../img/ranks/K14.png')!important;}
.rank-k-15 {background-image: url('../img/ranks/K15.png')!important;}
.rank-k-16 {background-image: url('../img/ranks/K16.png')!important;}
.rank-k-17 {background-image: url('../img/ranks/K17.png')!important;}
.rank-k-18 {background-image: url('../img/ranks/K18.png')!important;}
.rank-k-19 {background-image: url('../img/ranks/K19.png')!important;}
.rank-k-20 {background-image: url('../img/ranks/K20.png')!important;}