@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

#app {
    height: 400px;
    width: 318px;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    color: wheat;

    background-image: url('../img/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;

    color: wheat;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #000;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border {
    border: 0px ridge #ff0000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.mi-1 {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;

    height: 130px;
}
.ib-1 {
    flex: auto;

    padding-top: 5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.bphs-cont {
    position: relative;
    height: 25px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 5px;
}
.bphs-img {
    width: 25px;
    height: 25px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    z-index: 1;
}
.bphs-value {
    font-style: oblique;
    font-weight: 700;
    font-size: 10pt;
    z-index: 1;
    margin-right: 5px;
}
#bp-img {
    background-image: url(../img/bp.png);
    opacity: 0.7;
}
#hs-img {
    background-image: url(../img/hs.png);
    opacity: 0.5;
}
#info-topachiv {
    flex: auto;
    z-index: 1;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}
.ip-1 {
    margin-top: 5px;
    width: 110px;
    height: 125px;
    background-image: url(../img/characters/default.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
}
.header-stats {
    position: relative;
    line-height: 34px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../img/border-top.png);
    vertical-align: middle;
    padding-left: 35px;
    margin-left: 2px;
    color: wheat;
    font-size: 12pt;
    font-weight: bolder;
}
#gs-img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 10px;
    background-image: url(../img/global-stats.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.6;
}
#global-stats {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: auto;
}
#topdbd {
    display: -webkit-flex; 
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 65px;
}
#gs-desc {
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 5px 7px 5px 7px;
    position: relative;

    height: 160px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/stats-desc.png);
}
#desc {
    flex: auto;
    position: relative;
    z-index: 1;
    line-height: 22px;
    margin: 5px;
    color: #e2ce97;
    font-size: 10pt;
    font-weight: 400;
}
.rank {
    width: 80px;
    height: 80px;

    position: absolute;
    bottom: 5px;
    z-index: 0;
    opacity: 0.4;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#rank-k {
    left: 140px;
}
#rank-c {
    right: 0;
}
#last-update {
    position: absolute;
    font-size: 7pt;
    font-style: oblique;
    bottom: 3px;
    right: 3px;
}

/* scripts */



























#info-bloodpoints {
    font-weight: bolder;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
}
#info-hours {
    font-weight: bolder;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
}
#info-hours::before,#info-bloodpoints::before {
    content: "[] ";
}
#info-hours::after {
    content: " h";
}
#info-bloodpoints::after {
    content: " bp";
}

.topachiv {
    width: 55px;
    height: 55px;
    overflow: hidden;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;

    box-shadow: 0px 0px 6px 1px #ff0000;
    border: 1px solid rgba(72, 54, 50, 1);
    border-radius: 3px;

    margin: 0 20px 0 10px;
    /* width: 65px;
    height: 65px;
    overflow: hidden;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 0px 8px 2px #E8C252;
    border-radius: 3px; */
    /* width: 52px;
    height: 52px;
    overflow: hidden;
    margin: 0 10px 0 10px;
    box-shadow: 0px 0px 4px 1px #E8C252;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/381210/a884de3aafb36c5a2590c698164d4aa1baff3357.jpg); */
    /* background-image: url('../img/topstats-nm.png'); */
}

.topachiv-img {
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/apps/381210/711084ed1e36ed2130a6f4d098d607c2a98a7f22.jpg); 
}
.topachiv-hover {
    position: absolute;
    width: 59px;
    height: 59px;
}
.topachiv-hover:hover {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* box-shadow: inset 0px 0px 44px 1px rgba(255,0, 0, .2); */
    background-image: url(../img/topstats-hover-4x4.png);
}

#topachiv-1,#topachiv-2 {
    /* width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/apps/381210/711084ed1e36ed2130a6f4d098d607c2a98a7f22.jpg); */
}

.topachiv:hover {
    /* cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/topstats-hover-4x4.png); */
    /* background-image: url(../img/topstats-hover-4x4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  */
    /* border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    /* background-image: url(../img/topstats-hover-4x4.png); */
}





.topdbd {
    width: 50px;
    display: -webkit-flex; 
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.topup {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../img/topstats-up.png);
}

.topdw {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../img/topstats-dw.png);
}

.topnm {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../img/topstats-nm.png);
}
#topdbd-1 {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60%;
    background-position: center;
    background-image: url(../img/escaped.png);
}

#topdbd-2 {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-size: 70%;
    background-position: center;
    background-image: url(../img/saved.png);
}

#topdbd-3 {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60%;
    background-position: center;
    background-image: url(../img/killed.png);
}

#topdbd-4 {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60%;
    background-position: center;
    background-image: url(../img/sacrifice.png);
}
#topdbd-5 {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60%;
    background-position: center;
    background-image: url(../img/sacrifice.png);
}


.hover {
    flex: auto;
}
.hover:hover {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/topstats-hover.png);
}

#rank-k {
    width: 90px;
    height: 90px;

    position: absolute;
    right: 110px;
    bottom: 0;
    z-index: 0;
    opacity: 0.6;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/rank.png);
}
#rank-c {
    width: 90px;
    height: 90px;

    position: absolute;
    right: 5px;
    bottom: 0;
    z-index: 0;
    opacity: 0.6;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/rank.png);
}