@import "reset.css";
@import "chars.css";
@import "ranks.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

#app {
    height: 400px;
    width: 318px;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    color: wheat;

    background-image: url('../img/background-400.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;

    color: wheat;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #000;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border {
    border: 0px ridge #ff0000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.mi-1 {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;

    height: 130px;
}
.ib-1 {
    flex: auto;

    padding-top: 5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.bphs-cont {
    position: relative;
    height: 25px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 5px;
}
.bphs-img {
    width: 25px;
    height: 25px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    z-index: 1;
}
.bphs-value {
    font-style: oblique;
    font-weight: 700;
    font-size: 10pt;
    z-index: 1;
    margin-right: 5px;
}
#bp-img {
    background-image: url('../img/bp.png');
    opacity: 0.8;
}
#hs-img {
    background-image: url('../img/hs2.png');
    opacity: 0.6;
}
#info-topachiv {
    flex: auto;
    z-index: 1;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}
.ip-1 {
    margin-top: 5px;
    width: 110px;
    height: 125px;
    /* background-image: url(./img/characters/default.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
}
.char0 {background-image: url('../img/characters/default.png') !important;}
.header-stats {
    position: relative;
    line-height: 34px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('../img/border-top.png');
    vertical-align: middle;
    padding-left: 35px;
    margin-left: 2px;
    color: wheat;
    font-size: 12pt;
    font-weight: bolder;
}
#gs-img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 10px;
    background-image: url('../img/global-stats.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.6;
}
#global-stats {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: auto;
}
#topdbd {
    display: -webkit-flex; 
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 65px;
}
#gs-desc {
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 5px 7px 5px 7px;
    position: relative;

    height: 160px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/stats-desc.png');
}
#desc {
    flex: auto;
    position: relative;
    z-index: 1;
    line-height: 22px;
    margin: 5px;
    color: #e2ce97;
    font-size: 10pt;
    font-weight: 400;
}
.rank {
    width: 80px;
    height: 80px;

    position: absolute;
    bottom: 5px;
    z-index: 0;
    opacity: 0.4;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#rank-k {
    left: 140px;
}
#rank-c {
    right: 0;
}
#last-update {
    position: absolute;
    font-size: 7pt;
    font-style: oblique;
    bottom: 3px;
    right: 3px;
}

/* scripts */
.topachiv {
    overflow: hidden;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;

    width: 55px;
    height: 55px;

    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, .2);
    border-radius: 3px;

    margin: 0 20px 0 10px;
}

.topachiv-img {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topachiv-hover {
    position: absolute;
    width: 59px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.topachiv-hover-img {background-image: url('../img/topstats-hover-4x4.png');}
.topachiv-nm {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topachiv-nm3.png');
}
.topachiv-dw {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topachiv-dw3.png');
}
.topachiv-up {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topachiv-up2.png');
}
.topachiv-empty {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topachiv-empty2.png');
}
.topachiv-hover {
    flex: auto;
}
.topachivdbd-img {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;

    background-size: 70%;
    background-position: center;
}
/* .topachiv {
    width: 55px;
    height: 55px;
    overflow: hidden;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;

    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, .2);
    border-radius: 3px;
    margin: 0 20px 0 10px;
}
.topachiv-img {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topachiv-hover {
    position: absolute;
    width: 59px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */
.topachiv-hover:hover {
    cursor: pointer;
    background-image: url('../img/topstats-hover-4x4.png');
}
.topachiv-hover:active {
    box-shadow: inset 0 0 30px 0 rgba(255, 255, 255, .5);
}
.topdbd {
    width: 50px;
    display: -webkit-flex; 
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    height: 60px;
}
.topdbd-img {
    flex: auto;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
 
    background-size: 75%;
    background-position: center;
}
.topnm {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topstats-nm.png');
}
.topup {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topstats-up.png');
}

.topdw {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url('../img/topstats-dw.png');
}
.hover {
    flex: auto;
}
.hover-img {background-image: url('../img/topstats-hover.png');background-size: contain;}
.hover:hover {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../img/topstats-hover.png');
}
.hover:active {
    box-shadow: inset 0 0 30px 0 rgba(255, 255, 255, .5);
}
.main {
    width: 44px;
    height: 44px;
    
    position: relative;
    float: left;
    margin: 0 5px 0 0;
    opacity: 0.5;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#main-k {
    background-image: url('../img/main-k3.png');
}
#main-c {
    background-image: url('../img/main-c3.png');
}
#main-dbd {
    background-image: url('../img/main-a.png');
}
.offline-msg {
    font-size: 14pt;
    font-weight: 400;
    line-height: 30px;
    font-style: oblique;

}
#sPlayer {
    font-weight: 900;
    color: #ac3ee3; 
    font-size: 12pt;
    letter-spacing: 1px;

}
#sValue {
    font-weight: 900;
    color: #ff8800;  
    font-size: 12pt;
}
#cValueText {
    font-style: oblique;
}
#cValue {
    color: #ff8800;  
    font-weight: bold;
}
#sPos {
    font-weight: 900;
    font-size: 12pt;
}
.posUp {
    color: #199b1e; 
}
.posDown {
    color: #d41c1c; 
}
.posNm {
    color: #e8c252; 
}